* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  display: flex;
  margin: 1% 5%;
}

.main__page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.main__photos-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: -2px 5px 12px -2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 10px;
}

.main__photos-item p {
  cursor: pointer;
}

.main__photos-item img {
  border-radius: 15px;
}

nav {
  margin: 15px 0;
}

.main__profile-hide {
  display: none;
}

.main__profile-show {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
  animation: fade .5s;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.main__profile-content {
  width: 90vw;
  height: 90vh;
  background: white;
  border-radius: 25px;
}

.main__profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3%;
}

.main__profile-header h1 {
  margin: 1%;
}

.main__profile-header svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.main__profile-show button {
  width: 200px;
  height: 100px;
}

.main__profile-albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__profile-album {
  position: relative;
  width: 16%;
  margin: 1% 1.5%;
}

.main__profile-album img {
  width: 90%;
  cursor: pointer;
}

.main__profile-photos-hide {
  display: none;
}

.main__profile-photos-show {
  position: absolute;
  top: 5%;
  width: 90vw;
  height: 90vh;
  background: white;
  border-radius: 25px;
}

.main__album-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3%;
}

.main__album-header h1 {
  margin: 1%;
}

.main__album-header svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.main__album-photos {
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
}

.main__album-photos p {
  font-size: 0;
}

@keyframes fade {
  0% {opacity: .1;}
  100% {opacity: 1;}
}